<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Control Panel</title>
		<!-- Link to the Orbitron font from Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="{{url_for('static',filename='theme_stylesheet.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='control_panel.css')}}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	</head>
	<body id="the_body">
		<header id="the_header">
			<h1>SOAR Echo Base</h1>
			<div>
				<img src="{{ url_for('static', filename='settings_gear.svg') }}" class="header_svg_color_green" id="settings_gear" />
				<div id="settings_gear_div">
					<!-- <p style="color: red; margin: 0px;">hi</p> -->

					<br />

					<!-- Theme and Color Buttons -->

					<!-- Theme Switcher Button -->
					<div id="settings_menu_div">
						<p id="settings_menu_text">Theme:</p>
						<label class="ui-switch">
							<input type="checkbox" value="dark" id="theme_toggle" unchecked />
							<div class="slider">
								<div class="circle"></div>
							</div>
						</label>
					</div>
					<br />

					<!-- Optional Header Changing Buttons -->
					<div>
						<button id="header_theme_button_white">White</button>
						<br />
						<button id="header_theme_button_gold">Gold</button>
						<br />
						<button id="header_theme_button_black">Black</button>
						<br />
					</div>
				</div>
			</div>
		</header>
		<br />
		<br />
		<br />
		<a href="/gps_data"> GPS DATA SITE</a>
		<br />
		<br />

		<br />

		<br />
		<br />
		<div id="main_holder">
			<div id="left_column">
				<h2 class="text">Telemetry</h2>

				<br />
				<h2 class="text">Metrics</h2>
				<div>
					<div>
						<!-- <h3 style="margin-top: 0px;">Current Location of Payload</h3> -->
						<!-- <p>Note: Latitude is formatted as DDMM.MMMM, and Longitude as DDDMM.MMMM</p> -->
						<div>
							<h3 class="text">Payload</h3>
							<div class="com-port-style">
								<label for="com_port" style="margin-right: 1em; height: min-content;">COM Port: </label>
								<input type="text" id="com_port" name="com_port" style="height: min-content;" />
								<p id="invalid_com_port_notif" class="live_console_error_messages">Invalid COM Port</p>
							</div>
							<br />
							<button id="telemetry_start">Start Serial</button>
							<button id="close_serial">Close Serial Connection</button>
						</div>
						<br />
						<br />
						<div>
							<h3 class="text">GPS</h3>
							<div class="com-port-style">
								<label for="com_port" style="margin-right: 1em; height: min-content;">COM Port: </label>
								<input type="text" id="com_port" name="com_port" style="height: min-content;" />
								<p id="invalid_com_port_notif" class="live_console_error_messages">Invalid COM Port</p>
							</div>
							<button id="gps_connection_start">Start Serial</button>
							<button id="gps_connection_close">Close Serial Connection</button>
						</div>
						<br />
						<br />
						<br />
						<p>
							Note: The below button is intended for use only for dev purposes.<br />
							The point is to not be able to click these<br />
							buttons until a serial connection is initiated
						</p>
						<button id="enable_all">Enable all below buttons</button>
						<br />
						<button id="ping_recovery_btn" disabled>PING Recovery</button>
						<button id="ping_payload_btn" disabled>PING Payload</button>
						<br />
						<button id="deploy_btn" disabled>DEPLOY</button>
						<button id="stop_btn" disabled>STOP</button>
						<button id="reset_btn" disabled>RESET</button>
						<button id="retract_btn" disabled>RETRACT</button>
						<button id="gps_btn" disabled>GPS</button>
						<button id="altitude_btn" disabled>ALTITUDE</button>
						<button id="status_btn" disabled>STATUS</button>
						<button id="deploy_btn_dist" disabled>Distance</button>
						<br />
						<br />
						<button id="gps_btn_rpt" disabled>GPS Repeat</button>
						<button id="altitude_btn_rpt" disabled>Altitude Repeat</button>
						<button id="status_btn_rpt" disabled>Status Repeat</button>
						<button id="deploy_btn_rtp" disabled>Deploy Reepat</button>
						<br />
						<br />

						<p id="side_display_altitude">Altitude:</p>
						<p id="side_display_velocity">Velocity:</p>
						<p id="side_display_acceleration">Acceleration:</p>
					</div>
				</div>
				<br />
				<div id="live_console_holder">
					<h3 id="live_console_header3">Live Console</h3>
					<div id="live_console"></div>
				</div>
			</div>
			<div id="right_column">
				<h2>Payload Telemetry</h2>

				<div class="chart_holder">
					<h3 id="rocket-header">Rocket</h3>
					<div class="chart_formatter" id="rocket-altitude-div">
						<h3 class="chart_title">Altitude</h3>
						<div id="altitude_chart_rocket"></div>
					</div>
					<div class="chart_formatter" id="rocket-velocity-div">
						<h3 class="chart_title">Velocity</h3>
						<div id="velocity_chart_rocket"></div>
					</div>
					<div class="chart_formatter" id="rocket-acceleration-div">
						<h3 class="chart_title">Acceleration</h3>
						<div id="acceleration_chart_rocket"></div>
					</div>

					<h3 style="margin: 0px;" id="payload-header">Payload</h3>
					<div class="chart_formatter" id="payload-altitude-div">
						<h3 class="chart_title">Altitude</h3>
						<div id="altitude_chart_payload"></div>
					</div>
					<div class="chart_formatter" id="payload-velocity-div">
						<h3 class="chart_title">Velocity</h3>
						<div id="velocity_chart_payload"></div>
					</div>
					<div class="chart_formatter" id="payload-acceleration-div">
						<h3 class="chart_title">Acceleration</h3>
						<div id="acceleration_chart_payload"></div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{url_for('static',filename='bundle.js')}}"></script>
		<script src="{{url_for('static', filename='color_and_themes.js')}}"></script>
		<script>
			//FRONT END CODE BEGINS -------------------------------------------------------------------------------------------------------
			// Code that logs information passed to it to the Console on screen
			let logging_object = document.getElementById("live_console");
			let logger_reference_node = document.createTextNode("");
			logging_object.appendChild(logger_reference_node);
			function logger(information, error=false) {
				// Interestingly, the logger HTML element needed a CSS value of white-space: pre-line;
				// https://stackoverflow.com/questions/9980416/how-can-i-insert-new-line-carriage-returns-into-an-element-textcontent
				let new_text = document.createTextNode(information);

				let new_text_holder = document.createElement("div");
				new_text_holder.appendChild(new_text);
				new_text_holder.className = "live_console_messages";
				if(error == true) {
					new_text_holder.classList.add("live_console_error_messages");
				}

				logging_object.insertBefore(new_text_holder, logger_reference_node);
				logger_reference_node = new_text_holder;
			}
			
			//BAROMETER Frontend Class
			class Barometer {
				constructor(pressure=NULL, temperature=NULL, altitude=NULL){
					this.pressure=pressure;
					this.temperature=temperature;
					this.altitude=altitude;
				}
			}

			//IMU Frontend Class
			class IMU {
				constructor(acceleration_x=NULL, acceleration_y=NULL, acceleration_z=NULL,
                 gyro_x=NULL, gyro_y=NULL, gyro_z=NULL, magnetic_x=NULL, magnetic_y=NULL, magnetic_z=NULL){
					this.acceleration_x = acceleration_x
					this.acceleration_y = acceleration_y
					this.acceleration_z = acceleration_z
					this.gyro_x = gyro_x
					this.gyro_y = gyro_y
					this.gyro_z = gyro_z
					this.magnetic_x = magnetic_x
					this.magnetic_y = magnetic_y
					this.magnetic_z = magnetic_z
				}
			}




			//BACK END CODE BEGINS --------------------------------------------------------------------------------------------------------

			//Script to connect with the server
			var server = 'http://' + document.domain + ':' + location.port;

			// Checks if an entered COM port is valid or not
			function isValidComPort(comPort) {
				var pattern = /^COM\d+$/;
				return pattern.test(comPort);
				}


			// NOTE: THIS ONLY CREATES THE FRONT END. THE BACK END, AS OF 2:44PM 2/4/2024 IS NOT COMPLETE
			// Functions need to be made in control_panel.py to handle each request to the back end to open or close, each serial port
			// Initiates connection to the back end for the Payload System
			document.getElementById("telemetry_start").addEventListener("click", () => {
				console.log("Beginning Telemetry");
				let com_port = document.getElementById("com_port").value;
				if (isValidComPort(com_port) == false) {
					console.error(`Invalid COM Port: ${com_port}`);
					logger(`Invalid COM Port: ${com_port}`, true);
					document.getElementById("invalid_com_port_notif").style.display = "block";
					return
				}
				if (isValidComPort(com_port) == true) {
					logger(`Valid COM Port: ${com_port}`);
					document.getElementById("invalid_com_port_notif").style.display = "none";
				}
				const fetch_promise = fetch(server+'/serial_start/'+com_port);
			    fetch_promise
			    .then((response)=>{
			        if(!response.ok){
			            throw new Error(`HTTP error: ${response.status}`);
			        }
			        return response.text();
			    })
			    .then((text)=>{
			        console.log(text);
					logger(text);
			    });
			});

			// Initiates connection to the back end for the GPS System
			document.getElementById("gps_connection_start").addEventListener("click", () => {
				console.log("Beginning GPS Connection");
				let com_port = document.getElementById("com_port").value;
				if (isValidComPort(com_port) == false) {
					console.error(`Invalid COM Port: ${com_port}`);
					logger(`Invalid COM Port: ${com_port}`, true);
					document.getElementById("invalid_com_port_notif").style.display = "block";
					return
				}
				if (isValidComPort(com_port) == true) {
					logger(`Valid COM Port: ${com_port}`);
					document.getElementById("invalid_com_port_notif").style.display = "none";
				}
				const fetch_promise = fetch(server+'/serial_start/'+com_port);
			    fetch_promise
			    .then((response)=>{
			        if(!response.ok){
			            throw new Error(`HTTP error: ${response.status}`);
			        }
			        return response.text();
			    })
			    .then((text)=>{
			        console.log(text);
					logger(text);
			    });
			});

			// Close the Payload serial connection
			document.getElementById("close_serial").addEventListener("click", () => {
				const fetch_promise = fetch(server+'/close_serial');
				fetch_promise
				.then((response)=>{
			        if(!response.ok){
			            throw new Error(`HTTP error: ${response.status}`);
			        }
			        return response.text();
			    })
			    .then((text)=>{
			        console.log(text);
					logger(text);
			    });
			});

			// Close the GPS serial connection
			document.getElementById("gps_connection_close").addEventListener("click", () => {
				const fetch_promise = fetch(server+'/close_serial');
				fetch_promise
				.then((response)=>{
			        if(!response.ok){
			            throw new Error(`HTTP error: ${response.status}`);
			        }
			        return response.text();
			    })
			    .then((text)=>{
			        console.log(text);
					logger(text);
			    });
			});

			// Sends commands to the Serial Console in the back end
			function SendCommand(command, id = 0){
				var full_command = `${command},${id}`
				const fetch_promise = fetch(server + '/command/'+full_command);
				fetch_promise
				.then((response)=>{
					if(!response.ok){
			            throw new Error(`HTTP error: ${response.status}`);
						logger(`HTTP error: ${response.status}`);
			        }
			        return response.text();
				})
				.then((text)=>{
					console.log(text);
					logger(text);
				})
				.catch((err)=>{
					logger(err, true);
					console.log(err);
				})
			}
			const deployment_id = 5;
			const Recovery_ID = 7;

			// For Dev Purposes, this will enable all of the buttons
			document.getElementById("enable_all").addEventListener("click", () => {
				document.getElementById("deploy_btn").removeAttribute("disabled");
				document.getElementById("ping_recovery_btn").removeAttribute("disabled");
				document.getElementById("ping_payload_btn").removeAttribute("disabled");
				document.getElementById("deploy_btn").removeAttribute("disabled");
				document.getElementById("retract_btn").removeAttribute("disabled");
				document.getElementById("stop_btn").removeAttribute("disabled");
				document.getElementById("reset_btn").removeAttribute("disabled");
				document.getElementById("status_btn").removeAttribute("disabled");
				document.getElementById("altitude_btn").removeAttribute("disabled");
				document.getElementById("gps_btn").removeAttribute("disabled");
				document.getElementById("gps_btn_rpt").removeAttribute("disabled");
				document.getElementById("altitude_btn_rpt").removeAttribute("disabled");
				document.getElementById("status_btn_rpt").removeAttribute("disabled");
				document.getElementById("deploy_btn_rtp").removeAttribute("disabled");
				document.getElementById("deploy_btn_dist").removeAttribute("disabled");
			})

			// DEPLOY, RETRACT, STOP, RESET, STATUS, ALTITUDE,
			document.getElementById("ping_recovery_btn").addEventListener("click", ()=>{
				SendCommand("PING", Recovery_ID);
			});
			document.getElementById("ping_payload_btn").addEventListener("click", ()=>{
				SendCommand("PING", deployment_id);
			});
			document.getElementById("deploy_btn").addEventListener("click", ()=>{
				SendCommand("DEPLOY", deployment_id);
			});
			document.getElementById("retract_btn").addEventListener("click", ()=>{
				SendCommand("RETRACT", deployment_id);
			});
			document.getElementById("stop_btn").addEventListener("click", ()=>{
				SendCommand("STOP", deployment_id);
			});
			document.getElementById("reset_btn").addEventListener("click", ()=>{
				SendCommand("RESET", deployment_id);
			});
			document.getElementById("status_btn").addEventListener("click", ()=>{
				SendCommand("STATUS", deployment_id);
			});
			document.getElementById("altitude_btn").addEventListener("click", ()=>{
				SendCommand("ALTITUDE", deployment_id);
			});
			document.getElementById("gps_btn").addEventListener("click", ()=>{
				SendCommand("GPS", Recovery_ID);
			})
			document.getElementById("gps_btn_rpt").addEventListener("click", ()=>{
				SendCommand("GPS:repeat", Recovery_ID);
			})
			document.getElementById("altitude_btn_rpt").addEventListener("click", ()=>{
				SendCommand("ALTITUDE:repeat", deployment_id)
			});
			document.getElementById("status_btn_rpt").addEventListener("click", ()=>{
				SendCommand("STATUS:repeat", deployment_id)
			});
			document.getElementById("deploy_btn_rtp").addEventListener("click", ()=>{
				SendCommand("DEPLOY:repeat", deployment_id)
			})
			document.getElementById("deploy_btn_dist").addEventListener("click", ()=>{
				SendCommand("DISTANCE", deployment_id)
			})
		</script>
	</body>
</html>
