<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Control Panel</title>
		<!-- Link to the Orbitron font from Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet" />
		<style>
			body {
			    font-family: 'Orbitron', sans-serif;
			}
			.background {
			    background: linear-gradient(to right, #003300, black);
			}
			.title{
			    color: white;
			}
		</style>
		<script>
				//Script to connect with the server
				var server = 'http://' + document.domain + ':' + location.port;


			//My template for a promise to the promised land
			// 	function get_response() {
			      //     const fetch_promise=fetch(server+'/button_test');
			      //     fetch_promise
			      //     .then((response)=>{
			      //         if(!response.ok){
			      //             throw new Error('HTTP error: ${response.status}');
			      //         }
			      //         return response.text();
			      //     })
			      //     .then((text)=>{
			      //         console.log(text);
			      //     })
			      // }
		</script>
	</head>
	<body>
		<div>
			<h1>SOAR Ground Computer</h1>
			<a href="/gps_data"> GPS DATA SITE</a>
			<!--<button id="start with GPS">Click to begin loading GPS data</button>-->
		</div>
		<div></div>
	</body>
</html>
